<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">    
        <link rel="stylesheet" href="/css/admin-dashboard/admin-dashboard-common.css">
        <script src="/js/admin-dashboard/admin-dashboard-common.js"></script>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
        <title>Admin Dashboard</title>
    </head>
    <body>
        <div id="menu-division">
            <img id="logo" src="/images/demologo.png">
            <nav id="navigation-menu">
                <ul id="menu-list">
                    <li id="overview" class="menu-item selected"><span class="material-symbols-outlined">grid_view</span><a href="/staff-dashboard/overview"><span style="padding: 8px;">Overview</span></a></li>
                    <li id="data-management" class="menu-item"><span class="material-symbols-outlined">database</span><a href="/staff-dashboard/data-management"><span style="padding: 8px;">Data management</span></a></li>
                    <li id="orders" class="menu-item"><span class="material-symbols-outlined">orders</span><a href="/staff-dashboard/orders"><span style="padding: 8px;">Orders</span></a></li>
                    <span class="divider"></span>
                    <li id="settings" class="menu-item" style="opacity: 1;"><span class="material-symbols-outlined">Settings</span><a href="/staff-dashboard/settings"><span style="padding: 8px;">Settings</span></a></li>
                </ul>
            </nav>
        </div>
        <div id="content-division">
            <div class="title-division">
                <div id="title">
                    <span style="font-size: 32px; font-weight: 500;">Settings</span><br>
                    <span style="font-size: 15px;">Edit your preferences</span>
                </div>
                <div id="dropdown">
                    <button id="profile" onclick="toggleDropdown()">
                        <img id="profile-pic" src="/images/default.jpg">
                        <span id="profile-name"><%= username %></span>
                        <span class="material-symbols-outlined" style="color:black;">arrow_drop_down</span>
                    </button>
                    <div id="dropdown-content">
                        <a href="#"><div class="dropdown-item-text"><span class="material-symbols-outlined" style="color:black; padding-right: 10px;">person</span>Profile</div></a>
                        <a href="/logout"><div class="dropdown-item-text"><span class="material-symbols-outlined" style="color:black; padding-right: 10px;">logout</span>Logout</div></a>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>