
.navigation {
  position: relative;
  margin-top: 40px;
  margin-left: 80px;
  margin-right: 80px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  flex-wrap: wrap;
  gap: 2em;
  overflow: hidden;
}

.logo {
  color: #426b1f;
  flex: 1;
  font: 500 32px/100% "Newsreader", sans-serif;
}

.aboutus-button:hover {
  background-color: rgba(255, 255, 255, 0.778);
  color: rgba(0, 0, 0, 0.620);
}

.aboutus-button {
  color: #000000;
  text-decoration: none;
  font: 400 16px/130% "Inter", sans-serif;
}

.admin-button:hover {
  color: #ffffff;
  background-color: #5a793e;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
}

.admin-button {
  color: rgb(255, 255, 255);
  font-size: 16px;
  background: #426b1f;
  border-style: inherit;
  border-radius: 24px;
  border-color: #5a793e;
  cursor: pointer;
  padding: 10px 20px 10px 20px;
  overflow: hidden;
}

.restaurant-heading {
  margin-top: 60px;
  padding-left: 80px;
  padding-right: 80px;
  overflow: hidden;
}

.restaurant-name {
  color: #000000;
  margin-bottom: 10px;
  font: 350 60px/140% "Newsreader", sans-serif;
  display: flex;
}

.divider {
  border-style: solid;
  border-color: #e6e6e6;
  border-width: 2px 0 0 0;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  transform-origin: 0 0;
  transform: rotate(0deg) scale(1, 1);
}

.menu {
  margin-top: 40px;
}

.dish-box {
  background: #fafaf5;
  margin-left: 80px;
  margin-right: 80px;
  margin-top: 30px;
  border-radius: 24px;
  border-style: solid;
  border-color: #e6e6e6;
  border-width: 2px;
  height: 160px;
  overflow: hidden;
  display: flex;
}

.dish-pic {
  height: 160px;
  width: 260px;
  border-radius: 20px;
}

.dish-name {
  color: #000000;
  font: 600 20px/130% "Inter", sans-serif;
  padding: 30px;
  flex-grow: 1;
}

.price-cart {
  display: flex;
  padding-right: 20px;
  flex-direction: column;
}

.dish-price {
  color: #000000;
  padding-top: 50px;
  padding-left: 20px;
  padding-bottom: 20px;
  font: 500 20px/130% "Inter", sans-serif;
}

.add-to-cart-button {
  color: rgb(255, 255, 255);
  font-size: 16px;
  background: #426b1f;
  border-style: inherit;
  border-radius: 24px;
  border-color: #5a793e;
  cursor: pointer;
  padding: 10px 20px 10px 20px;
  overflow: hidden;
}

.add-to-cart-button:active {
  transform: translateY(-1px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.add-to-cart-button:hover {
  color: #ffffff;
  background-color: #5a793e;
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5);
}

.cart {
  margin-left: 80px;
  margin-right: 80px;
  margin-top: 30px;
}

#cart-items {
  list-style-type: none;
  display: flex;
  flex-direction: column;
}

.sticky-cart {
  border-style: solid;
  border-color: #e6e6e6;
  border-radius: 50px;
  border-width: 2px;
  color: #000000;
  background-color: #f7f7ee;
  padding-top: 30px;
  margin-left: 60px;
  margin-right: 60px;
  margin-top: 20px;
  margin-bottom: 20px;
  padding-left: 80px;
  padding-right: 80px;
  text-align: left;
  animation: slide-in 0.5s ease-in-out; 
  font: 520 24px/100% "Open Sans", sans-serif;
  position:sticky;
  position:-webkit-sticky;
  bottom:0;
}

.checkout-button {
  color: rgb(255, 255, 255);
  margin: 20px;
  font-size: 20px;
  text-align: center;
  background: #426b1f;
  border-style: inherit;
  border-radius: 24px;
  border-color: #5a793e;
  cursor: pointer;
  padding: 10px 20px 10px 20px;
  overflow: hidden;
}

.checkout-button:hover {
  color: #ffffff;
  background-color: #5a793e;
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5);
}

.plus-button {
  color: rgb(255, 255, 255);
  margin: 20px;
  font-size: 20px;
  text-align: center;
  background: #426b1f;
  border-style: inherit;
  border-radius: 24px;
  border-color: #5a793e;
  cursor: pointer;
  padding: 10px 15px 10px 15px;
  overflow: hidden;
}

.plus-button:hover {
  color: #ffffff;
  background-color: #5a793e;
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5);
}

.minus-button {
  color: rgb(255, 255, 255);
  margin: 20px;
  font-size: 20px;
  text-align: center;
  background: #426b1f;
  border-style: inherit;
  border-radius: 24px;
  border-color: #5a793e;
  cursor: pointer;
  padding: 10px 18px 10px 18px;
  overflow: hidden;
}

.minus-button:hover {
  color: #ffffff;
  background-color: #5a793e;
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5);
}

.list-items{
  font: 350 20px/100% "Newsreader", sans-serif;
}

@media (max-width: 768px) {
  .navigation {
    margin: 20px;
  }

  .dish-box {
    margin: 10px;
  }

  .dish-name, .dish-price {
    padding: 10px;
  }
}

@media (max-width: 576px) {
  .dish-box {
    flex-direction: column;
  }

  .dish-pic {
    width: 100px;
  }

  .dish-name, .dish-price {
    padding: 5px;
  }

  .add-to-cart-button {
    font-size: 14px;
  }
}
