
body {
    margin: 0;
    background-color: black;
    font-family: 'Roboto', sans-serif;
    color: white;
    height: 100vh;
}

#title-division {
    padding-top: 22px;
    display: flex;
    justify-content: space-around;
}

#restaurant-name {
    padding: 22px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#dinescan-logo {
    height: 25px;
    width: 25px;
}

#about-link {
    color: white;
    text-decoration: none;
    cursor: pointer;
}

#content-division {
    padding: 12px;
}

.dish-box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 16px;
    background-color: #171919;
    border-radius: 6px;
    cursor: pointer;
    position: relative;
}

.dish-box::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%; /* Center the border */
    width: 90%; /* Adjust the width to cover 90% */
    margin-left: -45%; /* Offset by half of the width to center it */
    border-bottom: 0.25px solid white; /* Adjust the thickness of the border */
}

.dish-image {
    height: 140px;
    width: auto;
    border-radius: 10px;
}

.dish-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.dish-veg {
    align-self: center;
}

.dish-image-section {
    display: flex;
    flex-direction: column;
}

.cart-button {
    display: inline-block;
    padding: 8px 20px;
    font-size: 15px;
    text-align: center;
    border: 1.5px solid black;
    color: white;
    background-color: #151717;
    border-radius: 10px;
    transition: background-color 0.3s, color 0.3s;
    cursor: pointer;
    &:active {
        background-color: black;
        color: #fff;
    }
}

#overlay {
    display: none;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 100%;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 1);
    justify-content: center;
    align-items: center;
    transition: left 0.5s ease;
    overflow: auto;
}

.overlay-content {
    display: flex;
    flex-direction: column;
    background-color: black;
    border-radius: 10px;
    text-align: center;
}

#overlay.active {
    left: 0;
}

.close-veg {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding-top: 22px;
    padding-bottom: 22px;
}

.overlay-image {
    max-width: 100%;
    border-radius: 10px;
    margin-bottom: 15px;
}

.summary-content {
    display: flex;
    flex-direction: column;
}

.dish-summary-name {
    font-size: 30px;
    font-weight: 500;
    padding-bottom: 10px;
}

.dish-summary {
    text-align: justify;
}

.stats {
    display: flex;
    justify-content: space-evenly;
}

.stat-box {
    display: flex;
    flex-direction: column;
}

.stat-value {
    font-weight: bold;
}

.stats {
    padding: 20px;
}

.close {
    display: flex;
    color: white;
    font-size: 28px;
    font-weight: bold;
    transition: color 0.2s;
    padding-left: 12px;
    &:hover,
    &:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
    }
}

.material-symbols-outlined.vegetarian {
    font-size: 18px;
    color: green;
    border: 1px solid green;
    font-variation-settings:
    'FILL' 1,
    'wght' 200,
    'GRAD' 0,
    'opsz' 24
}

.material-symbols-outlined.non-vegetarian {
    font-size: 18px;
    color: brown;
    border: 1px solid brown;
    font-variation-settings:
    'FILL' 1,
    'wght' 100,
    'GRAD' 0,
    'opsz' 20
}