body {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: black;
    font-family: 'Roboto', sans-serif;
    color: white;
    height: 100vh;
    -webkit-tap-highlight-color: transparent;
}

#body-division {
    display: flex;
    flex-direction: column;
    padding: 14px;
    height: 83%;
    width: 83%;
    border-radius: 15px;
    background-color: rgb(68, 68, 68);
}