<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/css/admin-dashboard.css">
    <title>Admin Dashboard</title>
  </head>
  <body>
      <div class="menu">
        <div class="logo">
          <ul class="logo-items">
            <li>DineScan</li>
          </ul>
        </div>
        <div class="menu-list">
          <ul class="menu-list-items">
            <li>Overview</li>
            <li>Analytics</li>
            <li>Report</li>
            <li>Transactions</li>
            <li>Orders</li>
            <li>Access control</li>
          </ul>
        </div>
        <div class="settings">
          <ul class="settings-items">
            <li>Settings</li>
          </ul>
        </div>
      </div>
      <div class="body-main">
        <div class="profile">
          profile
        </div>
        <div class="main-body">
          main body
        </div>
      </div>
  </body>
</html>