<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>Admin dashboard</title>
        <link rel="stylesheet" href="../../public/css/admin-dashboard.css">
    </head>
    <body class="admin-body">
        <div class="container-scroller">
            <nav class="firstnav">
                <div class="menu-wrapper">
                    <ul class="ul1">
                        <li class="liwrap">
                            <button class="menu-wrapper-button">
                                <span class="menu-toggle">text</span>
                            </button>
                        </li>
                    </ul>
                    <div class="dinescan-logo">
                        <a class="logo-link" href="/admin-dashboard"><img src="images/logo.png" alt="DineScan"/></a>
                    </div>
                    <ul class="navbar2">
                        <li class="profile-dropdown">
                            <a class="dropdown-toggle" href="" data-toggle="dropdown" id="profileDropdown">
                                <span class="nav-profile-name"></span>
                            </a>
                            <div class="dropdown-menu" aria-labelledby="profileDropdown">
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item">
                                  <i class="logout-text"></i>
                                  Logout
                                </a>
                            </div>
                        </li>
                        <li class="nav-toggler-item-right">
                            <button class="navbar-toggler" type="button" data-toggle="offcanvas">
                              <span class="right-menu"></span>
                            </button>
                          </li>
                    </ul>
                </div>
            </nav>
        </div>
    </body>
</html>