<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">    
        <link rel="stylesheet" href="/css/checkout.css">
        <link rel="stylesheet" href="https://unpkg.com/flatpickr/dist/flatpickr.min.css">
        <script src="https://unpkg.com/flatpickr"></script>
        <script src="/js/checkout.js"></script>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
        <title>Checkout page</title>
    </head>
    <body>
        <div id="body-division">
            <span style="font-size: 24px; font-weight: bolder; padding-bottom: 12px; text-align: center;">Checkout page</span>
            <form id="order-form" action="/api/place-order" method="post">
                <span style="font-size: larger; padding-top: 15px; font-weight: bolder">Customer details</span>

                <label for="customerName">Customer Name:</label>
                <input type="text" id="customerName" name="customerName" required>

                <label for="email">Email:</label>
                <input type="email" id="email" name="email" required>

                <span style="font-size: larger; padding-top: 20px; font-weight: bolder">Payment</span>

                <label for="paymentMethod">Payment Method:</label>
                <select id="paymentMethod" name="paymentMethod" required onchange="togglePaymentDetails()">
                    <option value="UPI">UPI</option>
                    <option value="Credit card">Credit Card</option>
                    <option value="Debit card">Debit Card</option>
                    <option value="Cash">Cash</option>
                </select>

                <input type="hidden" id="tableNum" name="tableNum" value="<%= tableNum %>">
                <input type="hidden" id="cart" name="cart" value="<%= cart %>">
                <input type="hidden" id="totalPrice" name="totalPrice" value="<%= totalPrice %>">

                <div id="upiDetails">
                    <label for="upiId">Upi Id:</label>
                    <input type="text" id="upiId" name="upiId">
                </div>

                <div id="cardDetails" >
                    <label for="cardHolderName">Card Holder Name:</label>
                    <input type="text" id="cardHolderName" name="cardHolderName">
    
                    <label for="cardNumber">Card Number:</label>
                    <input type="text" id="cardNumber" name="cardNumber" placeholder="**** **** **** ****">
    
                    <label for="expiryDate">Expiry Date:</label>
                    <input type="text" id="expiryDate" name="expiryDate" readonly>
                </div>
                <span style="padding-top: 20px;"></span>
                <button type="submit">Make payment</button>
            </form>
        </div>
    </body>
</html>