<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>DineScan: Digital Dining Made Easy</title>
        <link rel="stylesheet" href="css/style.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Mohave:wght@600&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.1/css/fontawesome.min.css" integrity="sha384-QYIZto+st3yW+o8+5OHfT6S482Zsvz2WfOzpFSXMF9zqeLcFV0/wlZpMtyFcZALm" crossorigin="anonymous">
    </head>
    <body>
        <section class="header">
            <nav>
                <a><img src="images/logo.png"></a>
                <div class="nav-links">
                    <i class="fa fa-times"></i>
                    <ul>
                        <li><a href="/">ABOUT US</a></li>                    
                        <li><a href="/login">ADMIN</a></li>
                    </ul>
                </div>
                <i class="fa fa-bars"></i>
            </nav>
            <div class="text-box">
                <h1>DineScan</h1>
                <p>Scan Our QR -CODE to order food with ease</p>
                <a href="" class="hero-btn">Scan us</a>
            </div>
        </section>
    </body>
</html>
