.dishmenu * {
  box-sizing: border-box;
}
.dishmenu {
    background: #ffffff;
    width: auto;
    height: auto;
    overflow: hidden;
  }
.tomato {
  background: #fafaf5;
  border-radius: 24px;
  border-style: solid;
  border-color: #e6e6e6;
  border-width: 2px;
  height: 159px;
  position: absolute;
  right: 96px;
  left: 96px;
  top: 296px;
  overflow: hidden;
}
.heirloom-tomato {
  color: #000000;
  text-align: left;
  font: 600 20px/130% "Inter", sans-serif;
  position: absolute;
  left: 184px;
  top: 24px;
}
._5-99 {
  color: #000000;
  text-align: right;
  font: 600 20px/130% "Inter", sans-serif;
  position: absolute;
  right: 24px;
  top: 24px;
}
.ed-o-neil-avvd-zlh-dow-a-unsplash-1 {
  width: 160px;
  position: absolute;
  left: 0px;
  bottom: -1px;
  top: 0px;
}
.ginger {
  background: #fafaf5;
  border-radius: 24px;
  border-style: solid;
  border-color: #e6e6e6;
  border-width: 2px;
  height: 159px;
  position: absolute;
  right: 96px;
  left: 96px;
  top: 483px;
  overflow: hidden;
}
.organic-ginger {
  color: #000000;
  text-align: left;
  font: 600 20px/130% "Inter", sans-serif;
  position: absolute;
  left: 184px;
  top: 24px;
}
._6-50 {
  color: #000000;
  text-align: right;
  font: 600 20px/130% "Inter", sans-serif;
  position: absolute;
  right: 24px;
  top: 24px;
}
.noonbrew-zi-cb-4-e-kmak-unsplash {
  width: 160px;
  position: absolute;
  left: 0px;
  bottom: -1px;
  top: 0px;
}
.onion {
  background: #fafaf5;
  border-radius: 24px;
  border-style: solid;
  border-color: #e6e6e6;
  border-width: 2px;
  height: 159px;
  position: absolute;
  right: 96px;
  left: 96px;
  top: 670px;
  overflow: hidden;
}
.sweet-onion {
  color: #000000;
  text-align: left;
  font: 600 20px/130% "Inter", sans-serif;
  position: absolute;
  left: 184px;
  top: 24px;
}
._14-95 {
  color: #000000;
  text-align: right;
  font: 600 20px/130% "Inter", sans-serif;
  position: absolute;
  right: 24px;
  top: 24px;
}
.k-8-0-fk-p-hulv-m-unsplash-2 {
  width: 160px;
  position: absolute;
  left: 0px;
  bottom: -1px;
  top: 0px;
}
.onion2 {
  background: #fafaf5;
  border-radius: 24px;
  border-style: solid;
  border-color: #e6e6e6;
  border-width: 2px;
  height: 159px;
  position: absolute;
  right: 96px;
  left: 96px;
  top: 857px;
  overflow: hidden;
}
.page-heading {
  background: #ffffff;
  height: 149px;
  position: absolute;
  right: 0px;
  left: 0px;
  top: 112px;
  overflow: hidden;
}
.menu {
  color: #000000;
  text-align: left;
  font: 400 64px/120% "Newsreader", sans-serif;
  position: absolute;
  left: 96px;
  bottom: 16px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
}
.divider {
  border-style: solid;
  border-color: #e6e6e6;
  border-width: 2px 0 0 0;
  height: 0px;
  position: absolute;
  right: 96px;
  left: 96px;
  bottom: 0px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  transform-origin: 0 0;
  transform: rotate(0deg) scale(1, 1);
}
.navigation {
  height: 112px;
  position: absolute;
  right: 0px;
  left: 0px;
  top: 0px;
  overflow: hidden;
}
.logo {
  color: #426b1f;
  text-align: left;
  font: 500 32px/100% "Newsreader", sans-serif;
  position: absolute;
  left: 96px;
  top: 41px;
}
.about-us {
  color: #000000;
  text-align: center;
  font: 400 16px/130% "Inter", sans-serif;
  position: absolute;
  right: 274px;
  top: 45.5px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.admin-button {
  background: #426b1f;
  border-radius: 10px;
  padding: 14px 23px 14px 23px;
  width: 126px;
  height: 48px;
  position: absolute;
  right: 96px;
  top: 32px;
  overflow: hidden;
}
.admin {
  color: #ffffff;
  text-align: center;
  font: 600 16px/130% "Inter", sans-serif;
  position: absolute;
  left: calc(50% - 29px);
  top: calc(50% - 10.5px);
  display: flex;
  align-items: center;
  justify-content: center;
}
