<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">    
        <link rel="stylesheet" href="/css/admin-dashboard-common.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
        <title>Admin Dashboard</title>
    </head>
    <body>
        <div id="menu-division">
            <img id="logo" src="/images/demologo.png">
            <nav id="navigation-menu">
                <ul id="menu-list">
                    <li id="overview" class="menu-item selected" style="opacity: 1;"><span class="material-symbols-outlined">grid_view</span><a href="/admin-dashboard/overview"><span style="padding: 8px;">Overview</span></a></li>
                    <li id="access-control" class="menu-item"><span class="material-symbols-outlined">accessibility</span><a href="/admin-dashboard/access-control"><span style="padding: 8px;">Access control</span></a></li>
                    <li id="data-management" class="menu-item"><span class="material-symbols-outlined">database</span><a href="/admin-dashboard/data-management"><span style="padding: 8px;">Data management</span></a></li>
                    <li id="transactions" class="menu-item"><span class="material-symbols-outlined">receipt_long</span><a href="/admin-dashboard/transactions"><span style="padding: 8px;">Transactions</span></a></li>
                    <li id="orders" class="menu-item"><span class="material-symbols-outlined">orders</span><a href="/admin-dashboard/orders"><span style="padding: 8px;">Orders</span></a></li>
                    <li id="report" class="menu-item"><span class="material-symbols-outlined">lab_profile</span><a href="/admin-dashboard/report"><span style="padding: 8px;">Report</span></a></li>
                    <span class="divider"></span>
                    <li id="settings" class="menu-item"><span class="material-symbols-outlined">Settings</span><a href="/admin-dashboard/settings"><span style="padding: 8px;">Settings</span></a></li>
                </ul>
            </nav>
        </div>
        <div id="content-division">
            <div class="title-division">
                <div id="title">
                    <span style="font-size: 32px; font-weight: 500;">Welcome back, <%= username %></span><br>
                    <span style="font-size: 15px;">Here's whats happening at the store today</span>
                </div>
                <button id="profile">
                    <img id="profile-pic" src="/images/default.jpg">
                    <span id="profile-name"><%= username %></span>
                    <span class="material-symbols-outlined" style="color:black;">arrow_drop_down</span>
                </button>
            </div>
        </div>
    </body>
</html>